*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
rmtarget/
tmtarget/
drivertarget/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
native/
build/
.idea/
weldrunner
hadoop*
